@model SHAM.Repository.Dto.ActivityAllDto
@{
    ViewData["Title"] = "Aktivitelerim";
}



<div class="ecommerce-widget">
    <div class="row" style="justify-content: center;">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="page-header">
                <h2 class="pageheader-title">Aktivitelerim</h2>
            </div>
        </div>
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card">
                <h5 class="card-header">Aktivite Bilgileri</h5>
                <button class="btn btn-outline-success" data-toggle="modal" data-target="#create">Yeni Aktivite ekle</button>
                <div class="row" style="margin:5px;">
                    <form asp-action="MyActivity">
                        <div class="col-md-auto">
                            <input type="hidden" name="All" value="true" />
                            <input type="submit" class="btn" value="Hepsini Göster" />
                        </div>
                    </form>
                    <form>
                        <div class="col-md-auto">
                            <input type="hidden" name="All" value="false" />
                            <input type="submit" class="btn" value="Sadece Bu Ay'ı Göster" />
                        </div>
                    </form>
                    <div class="col text-right">
                        <button class="btn btn-outline-success fas fa-file-excel" tableexport-id="a70aea2-xlsx"> &nbsp; Excel Olarak Indir</button>
                    </div>
                </div>
                <div class="card-body p-0">
                    <div class="table-responsive">
                        <div id="refresh" class="table-hover">
                            <table class="table-striped table-bordered dataTable" style="width: 100%;" role="grid" aria-describedby="example_info" id="tb" data-name="cool-table">
                                <thead class="bg-light" style="text-align: center;">
                                    <tr class="border-0">
                                        <th class="border-0"></th>
                                        <th class="border-0">#</th>
                                        <th class="border-0">Proje</th>
                                        <th class="border-0">Durum</th>
                                        <th class="border-0">Önceliği</th>
                                        <th class="border-0">Fatura</th>
                                        <th class="border-0">Lokasyon</th>
                                        <th class="border-0">Detay</th>
                                        <th class="border-0">Aktivite Tarihi</th>
                                        <th class="border-0">Başlama Saati</th>
                                        <th class="border-0">Bitiş Saati</th>
                                        <th class="border-0">Çalışma Saati</th>
                                        <th class="border-0">Oluşturma Tarihi</th>
                                        <th class="border-0">Oluşturma Saati</th>
                                        <th class="border-0"></th>
                                    </tr>
                                </thead>
                                <thead class="bg-light">
                                    <tr class="border-0 tableexport-ignore">
                                        <th class="border-0" style="padding: 0px;" colspan="2">Filtrele : </th>
                                        <th class="border-0" style="padding: 0px;">
                                            <div class="f-icon" style="padding: 5px;">
                                                <i class="fas fa-filter" id="btnProjectFilter"></i>
                                                <select class="custom-select" id="filterProject" style="width: auto; display:none;">
                                                    <option value="Hepsi">Hepsi</option>
                                                    @foreach (var item in Model.ProjectDto)
                                                    {
                                                        <option value="@item.NAME">@item.NAME</option>
                                                    }
                                                </select>
                                            </div>
                                        </th>
                                        <th class="border-0" style="padding: 0px;">
                                            <div class="f-icon" style="padding: 5px;">
                                                <i class="fas fa-filter" id="btnStatusFilter"></i>
                                                <select class="custom-select" id="filterStatus" style="width: auto; display:none;">
                                                    <option value="Hepsi">Hepsi</option>
                                                    <option value="Aktif">Aktif</option>
                                                    <option value="Pasif">Pasif</option>
                                                </select>
                                            </div>
                                        </th>
                                        <th class="border-0" style="padding: 0px;">
                                            <div class="f-icon" style="padding: 5px;">
                                                <i class="fas fa-filter" id="btnPriorityFilter"></i>
                                                <select class="custom-select" id="filterPriority" style="width: auto; display:none;">
                                                    <option value="">Hepsi</option>
                                                    @foreach (var item in Model.PriorityDto)
                                                    {
                                                        <option value="@item.NAME">@item.NAME</option>
                                                    }
                                                </select>
                                            </div>
                                        </th>
                                        <th class="border-0" style="padding: 0px;">
                                            <div class="f-icon" style="padding: 5px;">
                                                <i class="fas fa-filter" id="btnInvoiceFilter"></i>
                                                <select class="custom-select" id="filterInvoice" style="width: auto; display:none;">
                                                    <option value="Hepsi">Hepsi</option>
                                                    <option value="Evet">Evet</option>
                                                    <option value="Hayır">Hayır</option>
                                                </select>
                                            </div>
                                        </th>
                                        <th class="border-0" style="padding: 0px;">
                                            <div class="f-icon" style="padding: 5px;">
                                                <i class="fas fa-filter" id="btnLocationFilter"></i>
                                                <select class="custom-select" id="filterLocation" style="width: auto; display:none;">
                                                    <option value="Hepsi">Hepsi</option>
                                                    <option value="Onsite">Onsite</option>
                                                    <option value="Remote">Remote</option>
                                                    <option value="Other">Other</option>
                                                </select>
                                            </div>
                                        </th>
                                        <th class="border-0" style="padding: 5px;">
                                            <div class="f-icon" style="padding: 5px;">
                                                <i class="fas fa-filter" id="btnDetailSearch"></i>
                                                <input type="text" id="searchDetail" placeholder="Ara" class="custom-control-label" style="width: auto;display:none;" />
                                            </div>
                                        </th>
                                        <th class="border-0" style="padding: 0px;"></th>
                                        <th class="border-0" style="padding: 0px;"></th>
                                        <th class="border-0" style="padding: 0px;"></th>
                                        <th class="border-0" style="padding: 0px;"></th>
                                        <th class="border-0" style="padding: 0px;"></th>
                                        <th class="border-0" style="padding: 0px;"></th>
                                        <th class="border-0" style="padding: 0px;"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.ActivityDto)
                                    {
                                        <tr>
                                            <td><button type="button" data-id="@item.ID" data-toggle="modal" data-target="#edit" class="btn btn-outline-primary fBtnEdit">Düzenle</button></td>
                                            <td id="@item.ID">@item.ID </td>
                                            <td id="@item.ID-project" data-id="@item.PROJECT.ID">@item.PROJECT.PROJECT_NAME</td>
                                            @if (item.STATUS == true)
                                            {
                                                <td id="@item.ID-status">Aktif</td>
                                            }
                                            @if (item.STATUS == false)
                                            {
                                                <td id="@item.ID-status">Pasif</td>
                                            }
                                            <td id="@item.ID-priority" data-id="@item.PRIORITY.ID">@item.PRIORITY.PRIORITY_NAME</td>
                                            @if (item.INVOICE == true)
                                            {
                                                <td id="@item.ID-invoice">Evet</td>
                                            }
                                            @if (item.INVOICE == false)
                                            {
                                                <td id="@item.ID-invoice">Hayır</td>
                                            }
                                            <td id="@item.ID-location">@item.LOCATION</td>
                                            <td id="@item.ID-detail">@item.ACTIVITY_DETAIL</td>
                                            <td id="@item.ID-estStart">@item.ACTIVITY_DATE.ToString("dd/MM/yyyy")</td>
                                            <td id="@item.ID-start">@item.START_TIME.ToString("hh':'mm':'ss")</td>
                                            <td id="@item.ID-end">@item.END_TIME?.ToString("hh':'mm':'ss")</td>
                                            <td id="@item.ID-whour" class="tableexport-string">@item.WHOUR</td>
                                            <td>@item.CREATED_DATE.ToString("dd/MM/yyyy")</td>
                                            <td>@item.CREATED_TIME.ToString("hh':'mm':'ss")</td>
                                            <td>
                                                <button type="button" class="btn btn-outline-danger viewModelDel" data-toggle="modal" data-target="#delete" data-id="@item.ID">Sil</button>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!------------Modals --------->
<!-- Delete -->
<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Aktivite Sil</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-action="MyDelete" method="post" role="form">
                <div class="modal-body">
                    <div class="card-body">
                        <div class="form-group">
                            Aktiviteyi Silmek istediğinize emin misiniz ?
                            <input type="hidden" id="IdDel" value="" name="ID" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                    <button type="submit" class="btn btn-danger" asp-action="MyDelete">Sil</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!--Create-->
<div class="modal fade" id="create" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Yeni Aktivite Ekle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <form id="createForm" role="form">
                    <div class="modal-body">
                        <div class="card-body">
                            <div class="form-group">
                                <input type="hidden" name="ID" />
                            </div>
                            <div class="form-group row">
                                <label class="col-12 col-sm-5 col-form-label text-sm-right">Projesi</label>
                                <div class="col-12 col-sm-8 col-lg-6">
                                    <select class="custom-select" name="PROJECT_NUMBER">
                                        @foreach (var item in Model.ProjectDto)
                                        {
                                            <option value="@item.ID">@item.NAME</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-12 col-sm-5 col-form-label text-sm-right">Durumu</label>
                                <div class="col-12 col-sm-8 col-lg-6">
                                    <select class="custom-select" name="STATUS" typeof="bool">
                                        <option selected value="true">Aktif</option>
                                        <option value="false">Pasif</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-12 col-sm-5 col-form-label text-sm-right">Önceliği</label>
                                <div class="col-12 col-sm-8 col-lg-6">
                                    <select class="custom-select" name="ACTIVITY_PRIORITY">
                                        @foreach (var item in Model.PriorityDto)
                                        {
                                            <option value="@item.ID">@item.NAME</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-12 col-sm-5 col-form-label text-sm-right">Fatura</label>
                                <div class="col-12 col-sm-8 col-lg-6">
                                    <select class="custom-select" name="INVOICE" typeof="bool">
                                        <option selected value="true">Evet</option>
                                        <option value="false">Hayır</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-12 col-sm-5 col-form-label text-sm-right">Lokasyon</label>
                                <div class="col-12 col-sm-8 col-lg-6">
                                    <select class="custom-select" name="LOCATION">
                                        <option selected value="Onsite">Onsite</option>
                                        <option value="Remote">Remote</option>
                                        <option value="Other">Other</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-12 col-sm-5 col-form-label text-sm-right">Detay</label>
                                <div class="col-12 col-sm-8 col-lg-6">
                                    <textarea name="ACTIVITY_DETAIL" class="form-control" autocomplete="off" data-parsley-maxlength="100" placeholder="Activite Detayı" id="exampleFormControlTextarea1" rows="3" style="margin-top: 0px; margin-bottom: 0px; height: 119px;"></textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-12 col-sm-5 col-form-label text-sm-right">Aktivite Tarihi</label>
                                <div class="input-group date col-12 col-sm-8 col-lg-6 datePicker" id="mydatetimepicker5" data-target-input="nearest">
                                    <input type="text" value="" class="form-control datetimepicker-input" data-target="#mydatetimepicker5" name="ACTIVITY_DATE">
                                    <div class="input-group-append" data-target="#mydatetimepicker5" data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-12 col-sm-5 col-form-label text-sm-right">Başlama Saati*</label>
                                <div class="col-12 col-sm-8 col-lg-6">
                                    <input id="C_START_TIME" name="START_TIME" type="time" style=" height:inherit;" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-12 col-sm-5 col-form-label text-sm-right">Bitiş Saati</label>
                                <div class="col-12 col-sm-8 col-lg-6">
                                    <div id="div_c_end_time">
                                        <input id="C_END_TIME" name="END_TIME" type="time" style=" height:inherit;" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-12 col-sm-5 col-form-label text-sm-right">Çalışma Saati*</label>
                                <div class="col-12 col-sm-8 col-lg-6">
                                    <div id="div_c_whour">
                                        <input id="C_WHOUR" name="WHOUR" type="text" style="height:inherit;" maxlength="6" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row text-right">
                                <div class="col col-sm-10 col-lg-9 offset-sm-1 offset-lg-0">
                                    <button type="button" class="btn btn-space btn-success" id="BtnCreate">Ekle</button>
                                    <button type="button" class="btn btn-space btn-secondary" data-dismiss="modal">Kapat</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--Edit-->
<div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Aktivite Düzenle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <form id="editForm" role="form">
                    <div class="modal-body">
                        <div class="card-body">
                            <div class="form-group">
                                <input type="hidden" name="ID" id="activtyID" value="" />
                            </div>
                            <div class="form-group row">
                                <label class="col-12 col-sm-5 col-form-label text-sm-right">Projesi</label>
                                <div class="col-12 col-sm-8 col-lg-6">
                                    <select class="custom-select" id="PROJECT_NUMBER" name="PROJECT_NUMBER">
                                        @foreach (var item in Model.ProjectDto)
                                        {
                                            <option value="@item.ID">@item.NAME</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-12 col-sm-5 col-form-label text-sm-right">Durumu</label>
                                <div class="col-12 col-sm-8 col-lg-6">
                                    <select class="custom-select" id="STATUS" typeof="bool" name="STATUS">
                                        <option value="true">Aktif</option>
                                        <option value="false">Pasif</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-12 col-sm-5 col-form-label text-sm-right">Önceliği</label>
                                <div class="col-12 col-sm-8 col-lg-6">
                                    <select class="custom-select" id="ACTIVITY_PRIORITY" name="ACTIVITY_PRIORITY">
                                        @foreach (var item in Model.PriorityDto)
                                        {
                                            <option value="@item.ID">@item.NAME</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-12 col-sm-5 col-form-label text-sm-right">Fatura</label>
                                <div class="col-12 col-sm-8 col-lg-6">
                                    <select class="custom-select" id="INVOICE" typeof="bool" name="INVOICE">
                                        <option value="true">Evet</option>
                                        <option value="false">Hayır</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-12 col-sm-5 col-form-label text-sm-right">Lokasyon</label>
                                <div class="col-12 col-sm-8 col-lg-6">
                                    <select class="custom-select" id="LOCATION" name="LOCATION">
                                        <option selected value="Onsite">Onsite</option>
                                        <option value="Remote">Remote</option>
                                        <option value="Other">Other</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-12 col-sm-5 col-form-label text-sm-right">Detay</label>
                                <div class="col-12 col-sm-8 col-lg-6">
                                    <textarea class="form-control" autocomplete="off" data-parsley-maxlength="100" placeholder="Activite Detayı" name="ACTIVITY_DETAIL" id="DETAIL" rows="3" style="margin-top: 0px; margin-bottom: 0px; height: 119px;"></textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-12 col-sm-5 col-form-label text-sm-right">Aktivite Tarihi</label>
                                <div class="input-group date col-12 col-sm-8 col-lg-6 datePicker" id="mydatetimepicker1" data-target-input="nearest">
                                    <input type="text" value="" class="form-control datetimepicker-input" data-target="#mydatetimepicker1" id="ACTIVITY_DATE" name="ACTIVITY_DATE">
                                    <div class="input-group-append" data-target="#mydatetimepicker1" data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-12 col-sm-5 col-form-label text-sm-right">Başlama Saati*</label>
                                <div class="col-12 col-sm-8 col-lg-6">
                                    <input type="time" id="START_TIME" name="START_TIME" autocomplete="off" style="height:inherit;" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-12 col-sm-5 col-form-label text-sm-right">Bitiş Saati</label>
                                <div class="col-12 col-sm-8 col-lg-6">
                                    <div id="div_end_time">
                                        <input type="time" id="END_TIME" name="END_TIME" style=" height:inherit;" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-12 col-sm-5 col-form-label text-sm-right">Çalışma Saati*</label>
                                <div class="col-12 col-sm-8 col-lg-6">
                                    <div id="div_whour">
                                        <input id="WHOUR" name="WHOUR" style="height:inherit;" maxlength="6" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row text-right">
                                <div class="col col-sm-10 col-lg-9 offset-sm-1 offset-lg-0">
                                    <button type="button" class="btn btn-space btn-success" id="BtnEdit">Kaydet</button>
                                    <button type="button" class="btn btn-space btn-secondary" data-dismiss="modal">Kapat</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        $("#btnProjectFilter").click(function () {
            $("#filterProject").slideDown();
        });
        $("#btnStatusFilter").click(function () {
            $("#filterStatus").slideDown();
        });
        $("#btnPriorityFilter").click(function () {
            $("#filterPriority").slideDown();
        });
        $("#btnInvoiceFilter").click(function () {
            $("#filterInvoice").slideDown();
        });
        $("#btnLocationFilter").click(function () {
            $("#filterLocation").slideDown();
        });
        $("#btnDetailSearch").click(function () {
            $("#searchDetail").slideDown();
        });

        $("#END_TIME").on('keyup change', function () {
            $("#WHOUR").attr("disabled", true);

            var start = $("#START_TIME").val();
            var end = $("#END_TIME").val();

            s = start.split(':');
            e = end.split(':');

            min = e[1] - s[1];
            hour_carry = 0;
            if (min < 0) {
                min += 60;
                hour_carry += 1;
            }
            if (min == 30)
                min = 5;

            hour = e[0] - s[0] - hour_carry;

            diff = hour + "," + min;

            $("#WHOUR").val(diff);

        });
        $("#WHOUR").keyup(function () {

            $("#END_TIME").attr("disabled", true);
            $("#END_TIME").val("");
        });
        $("#div_whour").click(function () {
            $("#WHOUR").attr("disabled", false);
            $("#END_TIME").attr("disabled", true);
            $("#END_TIME").val("");
        });
        $("#div_end_time").click(function () {
            $("#WHOUR").attr("disabled", true);
            $("#END_TIME").attr("disabled", false);
        });

        $("#C_END_TIME").on('keyup change', function () {
            $("#C_WHOUR").attr("disabled", true);

            var start = $("#C_START_TIME").val();
            var end = $("#C_END_TIME").val();

            s = start.split(':');
            e = end.split(':');

            min = e[1] - s[1];
            hour_carry = 0;
            if (min < 0) {
                min += 60;
                hour_carry += 1;
            }
            if (min == 30)
                min = 5;

            hour = e[0] - s[0] - hour_carry;

            diff = hour + "," + min;

            $("#C_WHOUR").val(diff);

        });

        $("#C_WHOUR").keyup(function () {

            $("#C_END_TIME").attr("disabled", true);
            $("#C_END_TIME").val("");
        });
        $("#div_c_whour").click(function () {
            $("#C_WHOUR").attr("disabled", false);
            $("#C_END_TIME").attr("disabled", true);
            $("#C_END_TIME").val("");
        });
        $("#div_c_end_time").click(function () {
            $("#C_WHOUR").attr("disabled", true);
            $("#C_END_TIME").attr("disabled", false);
        });


        $(document).ready(function () {

            filterExport();
        });

        function filterExport() {
            var table = $('#tb').DataTable();
            var tableeexport = $('#tb').tableExport({
                headers: true,
                footers: false,
                formats: ["xlsx"],
                filename: "Aktiviteler",
                bootstrap: true,
                exportButtons: false,
                position: "top",
                ignoreRows: null,
                ignoreCols: [0, 14],
                trimWhitespace: true,
                RTL: false,
                sheetname: "Aktiviteler"
            });

            $("#filterProject").on("change", function () {
                var filter = $(this).children("option:selected").val();

                if (filter == "Hepsi")
                    filter = "";

                table.columns(2).search(filter).draw();
                tableeexport.reset();
            });

            $("#filterStatus").on("change", function () {
                var filter = $(this).children("option:selected").val();

                if (filter == "Hepsi")
                    filter = "";

                table.columns(3).search(filter).draw();
                tableeexport.reset();
            });

            $("#filterPriority").on("change", function () {
                var filter = $(this).children("option:selected").val();

                if (filter == "Hepsi")
                    filter = "";

                table.columns(4).search(filter).draw();
                tableeexport.reset();
            });

            $("#filterInvoice").on("change", function () {
                var filter = $(this).children("option:selected").val();

                if (filter == "Hepsi")
                    filter = "";

                table.columns(5).search(filter).draw();
                tableeexport.reset();
            });

            $("#filterLocation").on("change", function () {
                var filter = $(this).children("option:selected").val();

                if (filter == "Hepsi")
                    filter = "";

                table.columns(6).search(filter).draw();
                tableeexport.reset();
            });

            $("#searchDetail").on("keyup", function () {
                var search = $(this).val();

                table.columns(7).search(search).draw();
                tableeexport.reset();
            });
        };


        $(".viewModelDel").click(function () {
            var id = $(this).data("id");

            document.getElementById("IdDel").value = id;
        });

        $("#BtnCreate").click(function () {
            $("#C_WHOUR").attr("disabled", false);
            $("#createForm").ajaxSubmit({
                url: '/Activity/Create',
                type: 'post',
                success: function (result) {
                    if (result.status) {
                        showCreateAlert();
                    }
                    else
                        if (result.error == "EndTimeSmall")
                            showAlert2("Aktivite başlangıcı bitişten küçük olamaz");
                        else if (result.error == "any")
                            showAlert();
                }
            })
        });

        $(".fBtnEdit").click(function () {
            var id = $(this).data("id");
            var project = $("#" + id + "-project", "#tb").data("id");
            var invoice = $("#" + id + "-invoice", "#tb").html();
            var priority = $("#" + id + "-priority", "#tb").data("id");
            var detail = $("#" + id + "-detail", "#tb").html();
            var actDate = $("#" + id + "-estStart", "#tb").html();
            var start = $("#" + id + "-start", "#tb").html();
            var end = $("#" + id + "-end", "#tb").html();
            var whour = $("#" + id + "-whour", "#tb").html();
            var status = $("#" + id + "-status", "#tb").html();
            var location = $("#" + id + "-location", "#tb").html();


            if (status == "Aktif")
                status = true;
            else if (status == "Pasif")
                status = false;

            if (invoice == "Evet")
                invoice = true;
            else if (invoice == "Hayır")
                invoice = false;

            document.getElementById("activtyID").value = id;
            document.getElementById("PROJECT_NUMBER").value = project;
            document.getElementById("INVOICE").value = invoice;
            document.getElementById("ACTIVITY_PRIORITY").value = priority;
            document.getElementById("DETAIL").value = detail;
            document.getElementById("STATUS").value = status;
            document.getElementById("ACTIVITY_DATE").value = actDate;
            document.getElementById("START_TIME").value = start;
            document.getElementById("END_TIME").value = end;
            document.getElementById("WHOUR").value = whour;
            document.getElementById("LOCATION").value = location;

        });

        $("#BtnEdit").click(function () {
            $("#WHOUR").attr("disabled", false);
            $("#editForm").ajaxSubmit({
                url: '/Activity/Edit', type: 'post',
                success: function (result) {
                    if (result.status) {
                        showCreateAlert();
                    }
                    else
                        if (result.error == "EndTimeSmall")
                            showAlert2("Aktivite başlangıcı bitişten küçük olamaz");
                        else if (result.error == "any")
                            showAlert();
                }
            })
        });

        $('.datePicker').datetimepicker({
            format: 'DD.MM.YYYY',
        });

        $('.selectpicker').selectpicker({
            noneSelectedText: 'Seçim Yapılmadı',
            selectAllText: 'Tümü',
            deselectAllText: 'Hiçbiri',
            size: 'auto',

        });
        $('#tb').DataTable({
            language: {
                info: "_TOTAL_ kayıttan _START_ - _END_ kayıt gösteriliyor.",
                infoEmpty: "Gösterilecek hiç kayıt yok.",
                loadingRecords: "Kayıtlar yükleniyor.",
                zeroRecords: "Tablo boş",
                search: "Arama:",
                infoFiltered: "(toplam _MAX_ kayıttan filtrelenenler)",
                lengthMenu: "Sayfada _MENU_ Kayıt Göster",
                paginate: {
                    first: "İlk",
                    previous: "Önceki",
                    next: "Sonraki",
                    last: "Son"
                },
            },
            responsive: true
        });

        function setInputFilter(textbox, inputFilter) {
            ["input", "keydown", "keyup", "mousedown", "mouseup", "select", "contextmenu", "drop"].forEach(function (event) {
                textbox.addEventListener(event, function () {
                    if (inputFilter(this.value)) {
                        this.oldValue = this.value;
                        this.oldSelectionStart = this.selectionStart;
                        this.oldSelectionEnd = this.selectionEnd;
                    } else if (this.hasOwnProperty("oldValue")) {
                        this.value = this.oldValue;
                        this.setSelectionRange(this.oldSelectionStart, this.oldSelectionEnd);
                    } else {
                        this.value = "";
                    }
                });
            });
        };


        setInputFilter(document.getElementById("WHOUR"), function (value) {
            return /^-?\d*[,]?\d*$/.test(value);
        });

        setInputFilter(document.getElementById("C_WHOUR"), function (value) {
            return /^-?\d*[,]?\d*$/.test(value);
        });


    </script>
}

